<!DOCTYPE html>
<html dir="<%= lang_dir %>" lang="<%= I18n.locale %>">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t(:page_title) %></title>
  <meta name="description" content="<%= t(:page_description) %>">
  <meta name="author" content="">
  <!-- GOOGLE ANALYTICS  -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-10114076-18', 'auto');
  ga('send', 'pageview');

  </script>
  <!-- GOOGLE ANALYTICS  -->

  <!-- Facebook Conversion Code for Views -->
  <script>
  (function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
  var fbds = document.createElement('script');
  fbds.async = true;
  fbds.src = '//connect.facebook.net/<%= I18n.locale %>/fbds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(fbds, s);
  _fbq.loaded = true;
  }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6028906726051', {'value':'0.00','currency':'USD'}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6028906726051&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">

  <!-- Fonts -->
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- Custom Theme CSS -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- Advanced CSS -->
  <link href="/css/animate.css" rel="stylesheet">
  <link href="/js/lib/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link href="/js/lib/owl-carousel/owl.theme.css" rel="stylesheet">
  <link href="/js/lib/owl-carousel/owl.transitions.css" rel="stylesheet">
  <link href="/js/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="/js/lib/video/YTPlayer.css" rel="stylesheet">
  <link href="/js/lib/flipclock/flipclock.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top wp1" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <!--<a class="navbar-brand" href="#movie-player">
                      OCT 7, 2015<span class="font-light"> the last day?</span> 
                </a>-->
        <div class="navbar-brand">

          <script type="text/javascript">
            var a2a_config = a2a_config || {};
            a2a_config.linkname = "Oct7th.com";
            a2a_config.linkurl = "http://oct7th.com";
            a2a_config.onclick = 1;
            a2a_config.color_main = "D7E5ED";
            a2a_config.color_border = "AECADB";
            a2a_config.color_link_text = "333333";
            a2a_config.color_link_text_hover = "333333";
          </script>
          <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>

          <script type="text/javascript">
            $(document).ready(function () {
              setTimeout(function () {
                $("#play-button").trigger('click');
              }, 3000);
            });
          </script>

          <!-- AddToAny BEGIN -->
          <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
            <a class="a2a_button_facebook" style="vertical-align:top;zoom:1;*display:inline"></a>
            <a class="a2a_button_twitter" style="vertical-align:top;zoom:1;*display:inline"></a>
            <a class="a2a_button_google_plus" style="vertical-align:top;zoom:1;*display:inline"></a>
            <a class="a2a_dd" href="https://www.addtoany.com/share_save?linkurl=http%3A%2F%2Foct7th.com&amp;linkname=Oct7th.com" style="vertical-align:top;zoom:1;*display:inline"></a>
          </div>
          <!-- AddToAny END -->

        </div>
        <!-- /.navbar-brand -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li class="page-scroll">
              <a href="#about"><%= t(:nav_why_oct7th) %></a>
            </li>
            <li class="page-scroll">
              <a href="#movie-player"><%= t(:nav_the_video) %></a>
            </li>
            <li class="page-scroll">
              <a href="#links"><%= t(:nav_helpful_links) %></a>
            </li>
            <li class="dropdown page-scroll" style="text-transform: none;">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                 role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-language fa-large"></i> <%= lang_display(I18n.locale) %>
                <span class="caret"></span></a>
              <ul class="dropdown-menu" dir="ltr">
              <% other_langs.each do |lang_sym|
                 lang = lang_sym.to_s
                 href = "/#{lang}/"
%>
                <li><a href="<%= href %>" hreflang="<%= lang %>"><%= lang_display(lang_sym) %></a></li>
              <% end %>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->

      </div>
      <!-- /.navbar-header -->

    </div>
    <!-- /.container -->
  </nav>

  <!-- Intro Section -->
  <section id="intro">
    <div class="video-content">
      <div class="video-image wp1 delay-1s">
        <img src="/img/video-img.jpg" alt="">
      </div>

      <div class="overlay">

        <div class="container-wrapper">

          <div class="container">
            <div class="col-md-12 wp1 delay-05s">

              <div class="intro-info-wrapper">
                <div class="logo-item"><img src="/img/logo.png" width="80%" alt=""></div>
                <div style="margin-top:-100px"></div>
                <div id="owl-intro" class="owl-carousel owl-theme">
                  <!--<div class="item">
                      <div class="clock-wrapper">
                      <div class="clock"></div>
                      </div>  
                    </div>-->
                  <div class="item">
                    <h2 class="text-center"><%= t(:intro_subtitle) %></h2>
                  </div>
                </div>
              </div>
              <!-- /.intro-info-wrapper -->

            </div>
          </div>
          <!-- /.container -->

          <div class="media-btns buttons page-scroll">
            <div class="btn btn-default play-btn" id="play-button"><%= t(:play_video) %><i class="fa fa-play animated"></i></div>
            <div class="btn btn-default pause-btn" id="pause-button"><%= t(:stop_video) %><i class="fa fa-pause animated"></i></div>
            <a class="btn btn-default about-btn" href="#about"><%= t(:view_about) %><i class="fa fa-chevron-right"></i></a>
          </div>

        </div>
        <!-- /.container-wrapper -->

      </div>
      <!-- /.overlay -->

      <div class="video-container">
        <div id="player"></div>
      </div>

    </div>

  </section>
  <!-- /#intro -->


  <!-- About Section -->
  <section id="about">
    <div class="more page-scroll" id="more">
      <a href="#about"><i class="fa fa-angle-down"></i></a>
    </div>

    <div class="container wp2">
      <h1 class="section-title"><%= t(:about_title) %></h1>
      <div class="row">
        <div class="col-lg-12 wp2 delay-05s">
          <p>
            <%= t(:about_p1) %>
              <a href="<%= t(:about_p1_href) %>" target="_blank"><%= t(:about_p1_link) %></a>
          </p>
          <p>
            <%= t(:about_p2) %>
          </p>
          <p>
            <%= t(:about_p3) %>
          </p>
          <p>
            <%= t(:about_p4) %>
          </p>
          <p><span style="text-align:center; font-size:24px"><strong><%= t(:about_p5a) %></strong></span><br>
            <%= t(:about_p5b) %>
          </p>
        </div>
        <!-- /.col-lg-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /#about -->


  <section id="links">
    <div class="advantages">

      <div class="section-sub-title">
        <%= t(:links_title) %>
      </div>

      <div class="colored-line"></div>

      <div class="container">
        <div class="col-md-3 advantages-item wp7 delay-05s">
          <a href="<%= t(:links_ebible_href) %>" target="_blank">
            <div class="advantages-item-icon"><i class="fa fa-external-link"></i></div>
            <h3 dir="ltr" title="<%= t(:links_ebible_title) %>">E Bible Fellowship</h3>
          </a>
          <p>
            <%= t(:links_ebible_desc) %>
          </p>
        </div>
        <!-- /.col-md-4 -->

        <div class="col-md-3 advantages-item wp7">
          <a href="<%= t(:links_ebible2_href) %>" target="_blank">
            <div class="advantages-item-icon"><i class="fa fa-external-link"></i></div>
            <h3 dir="ltr" title="<%= t(:links_ebible2_title) %>">E Bible2</h3>
          </a>
          <p><%= t(:links_ebww_tagline) %></p>
          <a href="<%= t(:links_ebww_href) %>" target="_blank"><h3 dir="ltr">EBWW.net</h3></a>
          <p><%= t(:links_ebww_desc) %></p>
        </div>
        <!-- /.col-md-4 -->        
        
        <div class="col-md-3 advantages-item wp7">
          <a href="http://www.bmius.org" target="_blank">
            <div class="advantages-item-icon"><i class="fa fa-external-link"></i></div>
            <h3 dir="ltr" title="<%= t(:links_bmi_title) %>">Bible Ministries International <%= english_note %></h3>
          </a>
          <p>
            <%= t(:links_bmi_desc) %>
          </p>
        </div>
        <!-- /.col-md-4 -->

        <div class="col-md-3 advantages-item wp7 delay-05s">
          <a href="<%= t(:links_fns_href) %>" target="_blank">
            <div class="advantages-item-icon"><i class="fa fa-external-link"></i></div>
            <h3 dir="ltr" title="<%= t(:links_fns_title) %>">Friday Night Study <%= english_note %></h3>
          </a>
          <p>
            <%= t(:links_fns_desc) %>
          </p>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.advantages -->

    </div>
    <!-- /.container -->
  </section>
  <!-- /#links -->


  <!-- Movie-Player Section -->
  <section id="movie-player">
    <div class="overlay"></div>
    <div class="movie-player-element"></div>
    <div class="damper-left"></div>
    <div class="damper-right"></div>

    <div class="container">

      <div class="col-lg-10 col-lg-offset-1 wp5 delay-05s">
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="420" height="315" src="<%= t(:movie_href) %>" frameborder="0" allowfullscreen></iframe>
        </div>
        <br>
        <br>
        <p class="text-center">
          <%= t(:movie_p1a) %><br>
          <%= t(:movie_p1b) %>
        </p>
      </div>
      <!-- /.col-lg-12 -->

    </div>
    <!-- /.container -->
  </section>


  <!-- Contact Section -->
  <section id="contact">

    <div class="container text-center">
      <div class="row">
        <div align="center">
          <div class="col-lg-12 wp11">
            <ul class="social-buttons">
              <li dir="ltr" style="width: 15%;"><a href="https://twitter.com/EndsOct72015"><i class="fa fa-twitter fa-fw"></i> <span>@EndsOct72015</span> <%= english_note %></a></li>
              <li dir="ltr" style="width: 25%;"><a href="https://www.facebook.com/groups/willworldendOctober7th2015/"><i class="fa fa-facebook fa-fw"></i> <span>willworldendOctober7th2015</span> <%= english_note %></a></li>
              <li dir="ltr" style="width: 18%;"><a href="https://www.youtube.com/channel/UC8uFk1Rroy8v8yWbyQPAV4w/feed"><i class="fa fa-youtube fa-fw"></i> <span>Friday Night Study</span> <%= english_note %></a></li>
              <li dir="ltr" style="width: 18%;"><a href="https://www.youtube.com/EBibleFellowship1"><i class="fa fa-youtube fa-fw"></i> <span>E Bible Fellowship</span> <%= english_note %></a></li>
              <li dir="ltr" style="width: 18%;"><a href="https://www.youtube.com/channel/UCTj0qmscuMgMhj3L3zLkY6g"><i class="fa fa-youtube fa-fw"></i> <span>Bible Ministries International</span> <%= english_note %></a></li>
            </ul>
            <img src="/img/logo.png" width="35%" height="35%" alt="">
          </div>
          <!-- /.col-lg-12 -->
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="copyright" dir="ltr">
          © Oct7th.com 2015<br>
          <%= t(:contact_email_desc) %>: <a href="mailto:info@oct7th.com">info@oct7th.com</a>
        </div>
        <div class="footer-line"></div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </section>
  <!-- /#contact -->


  <!-- Core JavaScript Files -->
  <script src="/js/jquery-1.10.2.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.min.js"></script>

  <!-- JavaScript -->
  <script src="/js/lib/jquery.appear.js"></script>
  <script src="/js/lib/owl-carousel/owl.carousel.min.js"></script>
  <script src="/js/lib/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="/js/lib/video/jquery.mb.YTPlayer.js"></script>
  <script src="/js/lib/flipclock/flipclock.js"></script>
  <script src="/js/lib/jquery.animateNumber.js"></script>
  <script src="/js/lib/waypoints.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script>var youtubeId = '<%= youtube_id %>';</script>
  <script src="/js/main.js"></script>


</body>

</html>
